/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 0px from the top */
    transition: 0s; /* 0 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0s;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;

}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0s;
}

/* The side subnavigation menu for dates */
.sidenav1 {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 0px from the top */
    transition: 0s; /* 0 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0s;
    padding-top: 0px;
}

.sidenav1 a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0s;
}

.sidenav1 a:hover {
    color: #f1f1f1;
}

.sidenav1 .closebtn1 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;

}

.sidenav1 p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0s;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* .social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.btn-wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* @media(min-width: 768px){ */

.social1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }


.social1 a {
  border: 1px #ccc solid;
  padding: 20px;
  margin: 20px;

}

.social-icon1 {
  flex:1;

}

.card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 4px #ccc solid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.table-wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 4px #ccc solid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
}

.row {
  display: flex;
  position: relative;
  align-items: center;
}

.media {
  flex:1;
  align-items: center;
  margin-bottom: 10px;


}

.media-body {
  flex:1;
  margin-top: 10px;

}

.wrapper-img {
  text-align: center;
}


.headerimage {
    position: relative;
    background: url(../../users/img/map.png) center no-repeat; /* <-- path to your map image here*/
    background-size: cover;
    width: cover;
    height: 500px;

}
.child { /*This class styles your button or your buttons container*/
    position: absolute;
    margin: 0 auto;
    top: 200px;
    bottom: 0px;
    right: 35%;
    left: 35%;
    width: cover;
    /*height: 60px;*/
}
