{% extends 'shared/base.html' %}
{% load staticfiles %}

{% block content %}

<h1 class="text-center text-uppercase p-3 mt-5">{{ city }}</h1>

<div class="conteiner-fluid row ml-2 ml-4">

{% for store in address %}

<div class="card small d-flex" style="background-color: #f2f3f4;">
    <div class="card-body" style="card-text: break-word">
    <p class="card-text font-weight-bold mb-3 text-uppercase">Church title: <a href="{% url 'users:post-detail' store.pk %}">{{store.title}}</a></p>
    <p class="card-text">Address: {{store.address}}.</p>
    <p class="card-text">Email: {{store.email}}.</p>
    <p class="card-text">Phone: {{store.phone}}.</p>
    <p class="card-text">Website: <a href="{{store.website}}">{{store.website}}.</a></p>
    <p class="card-text text-muted">Created by: {{store.author.first_name}} {{store.author.last_name}} <br> on {{store.date_posted|date:"F d, Y"}}.</p>
    </div>
</div>




{% endfor %}
{% endblock %}

</div>
