{% extends 'shared/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="content-section p-5 mt-5 pl-4">

<table class="table table-hover text-left col-sm-6" style="table-layout: fixed; word-wrap: break-word;">
       <tbody>
        <tr>
          <th>No: </th>
          <th>Countries: </th>
        </tr>
    </tbody>
</table>

{% for post in posts %}

<table class="table table-hover text-left col-sm-6" style="table-layout: fixed; word-wrap: break-word;">
    <tbody>
      <tr>
        <td>{{ post.id }}</td>
          <td><a class="text-uppercase" href="{% url 'users:cities' post.pk %}">{{ post.country }}</a>
        </td>
      </tr>
    </tbody>
</table>


{% endfor %}

{% endblock %}

</div>
