{% load staticfiles %}

<script src="{% static 'users/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'users/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'users/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
<script src="{% static 'users/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'users/js/creative.min.js' %}"></script>

<script>
function openNav() {
document.getElementById("mySidenav").style.width = "250px";
document.getElementById("main").style.marginLeft = "250px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
document.getElementById("mySidenav").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for January -->
<script>
function openJan() {
document.getElementById("January").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(58,114,217,1)";
}

function closeJan() {
document.getElementById("January").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for February -->
<script>
function openFeb() {
document.getElementById("February").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeFeb() {
document.getElementById("February").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for March -->
<script>
function openMar() {
document.getElementById("March").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeMar() {
document.getElementById("March").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for April -->
<script>
function openApr() {
document.getElementById("April").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeApr() {
document.getElementById("April").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for May -->
<script>
function openMay() {
document.getElementById("May").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeMay() {
document.getElementById("May").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for June -->
<script>
function openJune() {
document.getElementById("June").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeJune() {
document.getElementById("June").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for July -->
<script>
function openJuly() {
document.getElementById("July").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeJuly() {
document.getElementById("July").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for August -->
<script>
function openAug() {
document.getElementById("August").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeAug() {
document.getElementById("August").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for September -->
<script>
function openSep() {
document.getElementById("September").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeSep() {
document.getElementById("September").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for October -->
<script>
function openOct() {
document.getElementById("October").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeOct() {
document.getElementById("October").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!--Script for November -->
<script>
function openNov() {
document.getElementById("November").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNov() {
document.getElementById("November").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for December -->
<script>
function openDec() {
document.getElementById("December").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeDec() {
document.getElementById("December").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for Calendar tab -->
<script>
function openCal() {
document.getElementById("Calendar").style.width = "100%";
document.getElementById("main").style.marginLeft = "100%";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeCal() {
document.getElementById("Calendar").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction1() {
document.getElementById("myDropdown1").classList.toggle("show1");
}

function filterFunction1() {
var input, filter, ul, li, a, i;
input = document.getElementById("myInput1");
filter = input.value.toUpperCase();
div = document.getElementById("myDropdown1");
a = div.getElementsByTagName("a");
for (i = 0; i < a.length; i++) {
    if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
    } else {
        a[i].style.display = "none";
    }
}
}
</script>
