{% load staticfiles %}

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{% static 'users//css/stylesheet.css' %}" rel="stylesheet">


<div class="social1">
  <!-- <div class="social-icon1"> -->
    <a class="social-icon1" data-tooltip="Twitter" href="https://twitter.com/MikeLTuttle">
      <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
    </a>
  <!-- </div> -->
  <!-- <div class="social-icon2"> -->
    <a class="social-icon1" data-tooltip="Facebook" href="https://www.facebook.com/EMEUPCI/">
      <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
    </a>
  <!-- <div class="social-icon3"> -->
    <a class="social-icon1" data-tooltip="YouTube" href="https://www.youtube.com/watch?v=8J-Y5NlxIn4">
      <i class="fa fa-youtube fa-5x" aria-hidden="true"></i>
    </a>
  <!-- </div> -->
  <!-- <div class="social-icon4"> -->
    <a class="social-icon1" data-tooltip="YouTube" href="https://www.instagram.com/emeupci/">
      <i class="fa fa-instagram fa-5x" aria-hidden="true"></i>
    </a>
    <a class="social-icon1" data-tooltip="GitHub" href="https://plus.google.com/collection/0sYAmE">
      <i class="fab fa-google-plus-g fa-5x" aria-hidden="true"></i>
    </a>
    <a class="social-icon1" data-tooltip="LinkedIn" href="https://www.linkedin.com/in/mark-shutes-5b026810/">
      <i class="fa fa-linkedin fa-5x" aria-hidden="true"></i>
    </a>
  <!-- </div> -->
</div>
