{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EME</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'users//css/stylesheet.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'users/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'users/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'users/css/creative.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'users/img/newupcifavicon.png' %}">


  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav1">
      <div class="container">
        <a href="https://www.upci.org/home" target="_blank"><img align="left" src="{% static 'users/img/newheader1.png' %}" alt="UPCI" width="100" height="35"></a>&nbsp;
        &nbsp;<a href="{% url 'users:home' %}#page-top" style="font-size: 17px; color: black;" class="w3-bar-item w3-button"><b>EME</b> Region</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#areas">Areas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#locate">Church Locator</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#ministries">Ministries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" onclick="openNav()">Events</a>
                </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:cabinet' %}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:post-create' %}">Add Church</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:register' %}">Register</a>
                </li>
            {% endif %}
            </ul>
        </div>
      </div>

    </nav>

    <!-- Events Information -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <br>
      <br>
      <br>
      <br>
      <br>
      <a href="{% static 'users/css/YearCalendar.pdf' %}" target="_blank">Full Year</a>
      <a href="#" class="" onclick="openCal()">Calendar View</a>
       <a href="\future.pdf" target="_blank">Future</a><br><br>
       <span class="w3-border-top w3-border-light-grey w3-left mt-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
    <br>
    <br>
      <a href="#" class="" onclick="openJan()">January</a>
      <a href="#" class="" onclick="openFeb()">February</a>
      <a href="#" class="" onclick="openMar()">March</a>
      <a href="#" class="" onclick="openApr()">April</a>
      <a href="#" class="" onclick="openMay()">May</a>
      <a href="#" class="" onclick="openJune()">June</a>
      <a href="#" class="" onclick="openJuly()">July</a>
      <a href="#" class="" onclick="openAug()">August</a>
      <a href="#" class="" onclick="openSep()">September</a>
      <a href="#" class="" onclick="openOct()">October</a>
      <a href="#" class="" onclick="openNov()">November</a>
      <a href="#" class="" onclick="openDec()">December</a><br>

      <br>
    </div>
    <!-- Header for January -->
    <div id="January" class="sidenav1">
      <a href="javascript:void(0)" class="closebtn1" onclick="closeJan()">&times;</a>
      <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">January</span></h1><br><br><br>
    <!-- Dates for January -->
      <p>
      <a href="#">1-3 Prayer Trip to Sofia Bulgaria</a>
      Test 2
      Test 3
    </div>
    <!-- Header for February -->
      <div id="February" class="sidenav1">
      <a href="javascript:void(0)" class="closebtn1" onclick="closeFeb()">&times;</a>
      <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">February</span></h1><br><br><br>
    <!-- Dates for February -->
      <P>
      <a href="#">Another Thing</a>
      Test 4
      Test 5
    </div>
    <!-- Header for March -->
      <div id="March" class="sidenav1">
      <a href="javascript:void(0)" class="closebtn1" onclick="closeMar()">&times;</a>
       <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">March</span></h1><br><br><br>
    <!-- Dates for March -->
     <P>
      <a href="#">Yep</a>
      Test 4
      Test 5
    </div>
    <!-- Header for April -->
    <div id="April" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeApr()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">April</span></h1><br><br><br>
    <!-- Dates for April -->
      <P>
      <a href="#">Still</a>
      Test 4
      Test 5
    </div>
    <!-- Header for May -->
    <div id="May" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeMay()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">May</span></h1><br><br><br>
    <!-- Dates for May -->
      <P>
      <a href="#">May</a>
      Test 4
      Test 5
    </div>
    <!-- Header for June -->
    <div id="June" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeJune()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">June</span></h1><br><br><br>
    <!-- Dates for June -->
      <P>
      <a href="#">June</a>
      Test 4
      Test 5
    </div>
    <!-- Header for July -->
    <div id="July" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeJuly()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">July</span></h1><br><br><br>
    <!-- Dates for July -->
      <P>
      <a href="#">July</a>
      Test 4
      Test 5
    </div>
    <!-- Header for August -->
    <div id="August" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeAug()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">August</span></h1><br><br><br>
    <!-- Dates for August -->
      <P>
      <a href="#">August</a>
      Test 4
      Test 5
    </div>
    <!-- Header for September -->
    <div id="September" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeSep()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">September</span></h1><br><br><br>
    <!-- Dates for September -->
      <P>
      <a href="#">September</a>
      Test 4
      Test 5
    </div>
    <!-- Header for October -->
    <div id="October" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeOct()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">October</span></h1><br><br><br>
    <!-- Dates for October -->
      <P>
      <a href="#">October</a>
      Test 4
      Test 5
    </div>
    <!-- Header for November -->
    <div id="November" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeNov()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">November</span></h1><br><br><br>
    <!-- Dates for November -->
      <P>
      <a href="#">November</a>
      Test 4
      Test 5
    </div>
    <!-- Header for December -->
    <div id="December" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeDec()">&times;</a>
     <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">December</span></h1><br><br><br>
    <!-- Dates for December -->
      <P>
      <a href="#">December</a>
      Test 4
      Test 5
    </div>
    <!-- Google Calendar Embed -->
    <div id="Calendar" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn1" onclick="closeCal()">&times;</a>
    <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">EME UPCI Calendar</span></h1><br><br><br>
    <div align="center"><br>
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=administrator%40emeupci.eu&amp;color=%2323164E&amp;ctz=America%2FChicago" style="border-width:0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
    </div>
    </div>

        </div>
    </div>

{% block content %}

{% endblock %}

<script src="{% static 'users/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'users/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'users/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
<script src="{% static 'users/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'users/js/creative.min.js' %}"></script>

<script>
function openNav() {
document.getElementById("mySidenav").style.width = "250px";
document.getElementById("main").style.marginLeft = "250px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
document.getElementById("mySidenav").style.width = "100";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for January -->
<script>
function openJan() {
document.getElementById("January").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(58,114,217,1)";
}

function closeJan() {
document.getElementById("January").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for February -->
<script>
function openFeb() {
document.getElementById("February").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeFeb() {
document.getElementById("February").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for March -->
<script>
function openMar() {
document.getElementById("March").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeMar() {
document.getElementById("March").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for April -->
<script>
function openApr() {
document.getElementById("April").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeApr() {
document.getElementById("April").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for May -->
<script>
function openMay() {
document.getElementById("May").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeMay() {
document.getElementById("May").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for June -->
<script>
function openJune() {
document.getElementById("June").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeJune() {
document.getElementById("June").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for July -->
<script>
function openJuly() {
document.getElementById("July").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeJuly() {
document.getElementById("July").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for August -->
<script>
function openAug() {
document.getElementById("August").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeAug() {
document.getElementById("August").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for September -->
<script>
function openSep() {
document.getElementById("September").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeSep() {
document.getElementById("September").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for October -->
<script>
function openOct() {
document.getElementById("October").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeOct() {
document.getElementById("October").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!--Script for November -->
<script>
function openNov() {
document.getElementById("November").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNov() {
document.getElementById("November").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for December -->
<script>
function openDec() {
document.getElementById("December").style.width = "450px";
document.getElementById("main").style.marginLeft = "450px";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeDec() {
document.getElementById("December").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<!-- Script for Calendar tab -->
<script>
function openCal() {
document.getElementById("Calendar").style.width = "100%";
document.getElementById("main").style.marginLeft = "100%";
document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeCal() {
document.getElementById("Calendar").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
document.body.style.backgroundColor = "white";
}
</script>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

</body>

</html>
